<%- include('partials/header') -%>
    <style>
        html,
        body {
            max-width: 100vw;
            overflow-x: hidden;
            background-color: #fff;
            padding: 0 !important;
            margin: 0 !important;
            min-height: 600px
        }

        #wrapper_team {
            display: block;
            margin: 0 auto;
            width: 90%;
            top: 0;
            bottom: 0;
            padding: 0rem 0rem 1rem 0rem;
            background-color: #ddd;
            font-family: 'Lora', serif;
            height: 100%;
        }

        .title_team {
            display: flex;
            flex-flow: column nowrap;
            width: 100%;
            background-color: #bbb;
            margin-top: 0 !important;
            padding: 2rem 0;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 3rem;
        }

        .title_team h1 {
            font-size: 4rem;
            margin-bottom: 0;
            font-family: 'Montserrat', sans-serif;
            font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
            font-weight: 800;
            text-transform: uppercase;
            text-rendering: optimizeLegibility;
            letter-spacing: .05em;
            text-shadow:
                5px 5px 0px #d5d5d5,
                8px 8px 0px rgba(0, 0, 0, 0.2);
        }

        #teamcontent {
            display: none;
            margin-bottom: 15px;
        }

        .team_box {
            display: flex;
            flex-flow: column nowrap;
            justify-content: inherit;
            align-items: inherit;
            width: 100%;
        }

        .container-left {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-content: center;
            float: left;
            width: 30%;
        }

        .container-right {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-content: center;
            width: 50%;
        }

        .team {
            display: block;
            max-width: unset;
        }

        ul li:before {
            display: none;
        }

        .team li {
            display: block;
            float: left;
            width: 16%;
            margin-right: 0px;
            padding-left: unset;
        }

        .team li:hover {
            cursor: pointer;
        }

        .team li:last-child {
            margin-right: 0;
        }

        .team .hcontent {
            display: none;
        }

        #teamcontent .bigimg {
            display: block;
            float: right;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
            border-radius: 50%;
            width: 220px;
            height: 220px;
            margin: 4rem;
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
        }

        .bigimg-overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: 0.5s ease-in-out;
            background-image: linear-gradient(15deg, rgba(19, 84, 122, 0.7) 0%, rgba(128, 208, 199, 0.7) 100%);
        }

        .profile_container::after {
            content: "";
            display: block;
            width: 70%;
            background: rgba(255, 255, 255, 0.2);
            background: linear-gradient(0deg,
                    rgba(255, 255, 255, 0.2)50%,
                    rgba(255, 255, 255, 0.7)100%);
            background: -o-linear-gradient(0deg,
                    rgba(255, 255, 255, 0.2)50%,
                    rgba(255, 255, 255, 0.7)100%);
            background: -moz-linear-gradient(0deg,
                    rgba(255, 255, 255, 0.2)50%,
                    rgba(255, 255, 255, 0.7)100%);
            background: linear-gradient(0deg,
                    rgba(255, 255, 255, 0.2)50%,
                    rgba(255, 255, 255, 0.7)100%);
            left: -100%;
            top: 0;
            height: 100%;
            position: absolute;
            transition: none;
            -webkit-transition: none;
            -moz-transition: none;
            -o-transition: none;
            -ms-transition: none;
            -ms-transform: skewX(-20deg);
            -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);
        }

        .profile_container:hover::after {
            left: 150%;
            transition: all 1s;
            -webkit-transition: all 0.75s;
            -moz-transition: all 0.75s;
            -o-transition: all 0.75s;
            -ms-transition: all 0.75s;
        }

        .profile_container:hover .bigimg-overlay {
            opacity: 1;
        }

        .bigimg-text {
            color: #ffffff;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
        }

        .profile_container {
            position: relative;
            overflow: hidden;
        }

        .profilepic {
            width: 100% !important;
            height: auto;
            display: block;
        }

        #teamdetails {
            display: block;
            float: left;
            width: 600px;
            padding-left: 15px;
        }

        .clearfix:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }

        .clearfix {
            display: flex;
            flex-flow: row nowrap;
        }

        html[xmlns] .clearfix {
            display: flex;
        }

        * html .clearfix {
            height: 1%;
        }

        .flipimg {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }

        @media only screen and (max-width: 900px) {
            #teamdetails {
                width: unset;
                padding-left: unset;
            }

            li {
                padding-left: unset;
            }

            .profile_container {
                width: 100%;
            }

            #teamcontent .bigimg {
                margin: 2rem 0;
            }

            .bigimg-overlay {
                opacity: 1;
            }

            .team li {
                margin-right: unset;
                width: 100%;
            }

            #wrapper_team {
                padding: 0;
            }

            .clearfix {
                flex-flow: column nowrap;
            }
        }
    </style>
    <div id="wrapper_team">
        <div class="title_team">
            <h1>Meet the team</h1>
            <p>Click on the photo's for more information</p>
        </div>
        <div class="team_box">
            <div id="teamcontent">
                <div class="container-left">
                    <div class="bigimg" height="260" width="225">&nbsp;</div>
                </div>

                <div class="container-right" id="teamdetails">
                    <h2 id="bigname">Name</h2>
                    <h3 id="bigjob">Title</h3>
                    <p id="bigdesc">A brief description.</p>
                </div>
            </div>
        </div>

        <ul class="team clearfix">
            <li>
                <div class="profile_container">
                    <img alt="Jane Doe" class="profilepic" src="https://essayslimmer.com/assets/avatars/stevie.jpg" />
                    <div class="bigimg-overlay">
                        <div class="bigimg-text"><strong>Jane Doe</strong><br>Service Specialist</div>
                    </div>
                </div>
                <span class="hcontent job">Service Specialist</span>
                <p class="hcontent desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet diam
                    nec risus semper, a pretium nisi mollis. Vivamus non diam volutpat tortor porttitor rhoncus in non
                    erat. Suspendisse potenti. Curabitur odio tortor, lacinia at tempus vel, iaculis eget felis. Vivamus
                    consectetur placerat mauris, at mollis dui suscipit ut.<br />
                    <br /> Contact:
                    <br /> Tel: <a href="tel:+xxxxxxxxxx">xx-xxxxxxxx</a><br /> E-mail: <a
                        href="mailto:xxx@xxx.nl">xxx@xxx.nl</a>
                </p>
            </li>
            <li>
                <div class="profile_container">
                    <img alt="Jane Doe" class="profilepic"
                        src="https://semantic-ui.com/images/avatar2/large/lindsay.png" />
                    <div class="bigimg-overlay">
                        <div class="bigimg-text"><strong>Jane Doe</strong><br>Service Specialist</div>
                    </div>
                </div>
                <span class="hcontent job">Service Specialist</span>
                <p class="hcontent desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet diam
                    nec risus semper, a pretium nisi mollis. Vivamus non diam volutpat tortor porttitor rhoncus in non
                    erat. Suspendisse potenti. Curabitur odio tortor, lacinia at tempus vel, iaculis eget felis. Vivamus
                    consectetur placerat mauris, at mollis dui suscipit ut. <br />
                    <br /> Contact:
                    <br /> Tel: <a href="tel:+xxxxxxxxxx">xx-xxxxxxxx</a><br /> E-mail: <a
                        href="mailto:xxx@xxx.nl">xxx@xxx.nl</a>
                </p>
            </li>
            <li>
                <div class="profile_container">
                    <img alt="John Doe" class="profilepic" src="http://smtb.cbl-web.com/images/avatar/big/elliot.jpg">
                    <div class="bigimg-overlay">
                        <div class="bigimg-text"><strong>John Doe</strong><br>Service Specialist</div>
                    </div>
                </div>
                <span class="hcontent job">Service Specialist</span>
                <p class="hcontent desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet diam
                    nec risus semper, a pretium nisi mollis. Vivamus non diam volutpat tortor porttitor rhoncus in non
                    erat. Suspendisse potenti. Curabitur odio tortor, lacinia at tempus vel, iaculis eget felis. Vivamus
                    consectetur placerat mauris, at mollis dui suscipit ut. <br />
                    <br /> Contact:
                    <br /> Tel: <a href="tel:+xxxxxxxxxx">xx-xxxxxxxx</a><br /> E-mail: <a
                        href="mailto:xxx@xxx.nl">xxx@xxx.nl</a>
                </p>
            </li>
            <li>
                <div class="profile_container">
                    <img alt="Jane Doe" class="profilepic"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoJACIEmGedOmkZwd3i3FRp5_JSPpH6fboMbmRQPrgu6phXh_YfA&s">
                    <div class="bigimg-overlay">
                        <div class="bigimg-text"><strong>Jane Doe</strong><br>Account Manager</div>
                    </div>
                </div>
                <span class="hcontent job">Account Mananger</span>
                <p class="hcontent desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet diam
                    nec risus semper, a pretium nisi mollis. Vivamus non diam volutpat tortor porttitor rhoncus in non
                    erat. Suspendisse potenti. Curabitur odio tortor, lacinia at tempus vel, iaculis eget felis. Vivamus
                    consectetur placerat mauris, at mollis dui suscipit ut. <br />
                    <br /> Contact:
                    <br /> Tel: <a href="tel:+xxxxxxxxxx">xx-xxxxxxxx</a><br /> E-mail: <a
                        href="mailto:xxx@xxx.nl">xxx@xxx.nl</a>
                </p>
            </li>
            <li>
                <div class="profile_container">
                    <img alt="Jane Doe" class="profilepic"
                        src="http://semantic-ui.com/images/avatar2/large/kristy.png" />
                    <div class="bigimg-overlay">
                        <div class="bigimg-text"><strong>Jane Doe</strong><br>Account Manager</div>
                    </div>
                </div>
                <span class="hcontent job">Account Mananger</span>
                <p class="hcontent desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet diam
                    nec risus semper, a pretium nisi mollis. Vivamus non diam volutpat tortor porttitor rhoncus in non
                    erat. Suspendisse potenti. Curabitur odio tortor, lacinia at tempus vel, iaculis eget felis. Vivamus
                    consectetur placerat mauris, at mollis dui suscipit ut. <br />
                    <br /> Contact:
                    <br /> Tel: <a href="tel:+xxxxxxxxxx">xx-xxxxxxxx</a><br /> E-mail: <a
                        href="mailto:xxx@xxx.nl">xxx@xxx.nl</a>
                </p>
            </li>
            <li>
                <div class="profile_container">
                    <img alt="John Doe" class="profilepic flipimg"
                        src="https://ironsoft3d.fr/public/avatar/matthew.png" />
                    <div class="bigimg-overlay">
                        <div class="bigimg-text"><strong>John Doe</strong><br>Teamlead</div>
                    </div>
                </div>
                <span class="hcontent job">Teamlead</span>
                <p class="hcontent desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet diam
                    nec risus semper, a pretium nisi mollis. Vivamus non diam volutpat tortor porttitor rhoncus in non
                    erat. Suspendisse potenti. Curabitur odio tortor, lacinia at tempus vel, iaculis eget felis. Vivamus
                    consectetur placerat mauris, at mollis dui suscipit ut. <br />
                    <br /> Contact:
                    <br /> Tel: <a href="tel:+xxxxxxxxxx">xx-xxxxxxxx</a><br /> E-mail: <a
                        href="mailto:xxx@xxx.nl">xxx@xxx.nl</a>
                </p>
            </li>
        </ul>
    </div>


    <%- include('partials/footer') -%>

        <script>
            $(function () {
                $('.profile_container').on('click', function (e) {
                    var $biginfo = $('#teamcontent');
                    var $bigname = $('#bigname');
                    var $bigjob = $('#bigjob');
                    var $bigdesc = $('#bigdesc');
                    var $bigimg = $('.bigimg');

                    var newimg = $(this).find('.profilepic').attr('src');
                    var newname = $(this).find('.profilepic').attr('alt');
                    var newrole = $(this).siblings('.job').eq(0).html();
                    var newdesc = $(this).siblings('.desc').eq(0).html();

                    $bigimg.css('background-image', "url(" + newimg + ")");
                    $bigname.html(newname);
                    $bigjob.html(newrole);
                    $bigdesc.html(newdesc);

                    if ($biginfo.css('display') == 'none') {
                        $biginfo.slideDown(350);
                    }

                    $('html, body').animate({ scrollTop: $('.team_box').offset().top }, 'slow');
                });
            });

            $(document).ready(function () {
                $("a").on('click', function (event) {
                    if (this.hash !== "") {
                        event.preventDefault();

                        var hash = this.hash;

                        $('html, body').animate({
                            scrollTop: $(hash).offset().top
                        }, 800, function () {

                            window.location.hash = hash;
                        });
                    }
                });
            });

        </script>